<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <!-- sticky-top class in bs , to make the nav bar stick to the top and not scroll up
    expand-md : to keep the nav bar expanded  upto medium size screens
    border-bottom to give a border to bottom of navbar -->
  <div class="container-fluid">
    <!-- ! navbar icon -->
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
        </div>
    </div>
  </div>
</nav>